<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470667203742-karsiqle2l26usgmdmdhoqlmv3lol78f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470667203742-karsiqle2l26usgmdmdhoqlmv3lol78f</string>
	<key>API_KEY</key>
	<string>AIzaSyAtncLytAIr7NVgV6F3S1-ESk_POroemTs</string>
	<key>GCM_SENDER_ID</key>
	<string>470667203742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meet</string>
	<key>PROJECT_ID</key>
	<string>meet-2b40b</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-2b40b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470667203742:ios:232030ed52c7c1c18f178f</string>
</dict>
</plist>